<div class="max-w-md mx-auto p-6">
  <div class="mb-6">
    <p class="text-lg text-gray-800">Welcome <span class="font-medium"><%= @email %></span>!</p>
  </div>

  <p class="mb-4 text-gray-700">You can confirm your account email through the link below:</p>

  <div class="mb-6">
    <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), 
          class: "inline-block bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700" %>
  </div>
</div>