<div class="max-w-md mx-auto p-6">
  <div class="mb-6">
    <p class="text-lg text-gray-800">Hello <span class="font-medium"><%= @email %></span>!</p>
  </div>

  <% if @resource.try(:unconfirmed_email?) %>
    <p class="text-gray-700 mb-4">
      We're contacting you to notify you that your email is being changed to 
      <span class="font-medium"><%= @resource.unconfirmed_email %></span>.
    </p>
  <% else %>
    <p class="text-gray-700 mb-4">
      We're contacting you to notify you that your email has been changed to 
      <span class="font-medium"><%= @resource.email %></span>.
    </p>
  <% end %>
</div>